@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

:root {
    --fontcolor: #322153;
    --pcolor: #34cb79;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--fontcolor);
}

body {
    background: #f0f0f5;
}


