#search-result {
    width: 90%;
    max-width: 1100px;
    
    margin: 0 auto;
}

#search-result header {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-result header a {
    color: var(--fontcolor);
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;
}

#search-result header a span{
    margin-right: 10px;
    background-image: url('../assets/arrow-left.svg');
    display: flex;
    width: 20px;
    height: 23px;
    
}

#search-result form {

    background-color: white;
    padding: 64px;
    border-radius: 10px;
    max-width: 730px;
    box-sizing: border-box;
    margin: 80px auto;

}

#search-result form h1 {
    font-size: 36px;
}

#search-result form fieldset {
    margin-top: 64px;
    border: 0;
}

#search-result form legend {
    margin-bottom: 40px;
}

#search-result form h2 {
    font-size: 24px;
}

#search-result form .field {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

#search-result form .fieldgroup {
    display: flex;
}

form input,
form select {
    background-color: #f0f0f5;
    border: 0;
    border-radius: 6px;
    padding: 16px;
    font-size: 16px;

    outline: none;
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label {
    font-size: 14px;
    margin-bottom: 8px;
}

form .fieldgroup .field + .field {
    margin-left: 20px;
}

form button {
    width: 260px;
    height: 56px;
    background-color: var(--pcolor);
    font-weight: bold;
    color: white;
    border: 0;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 30px;
    transition: 200ms;
} form button:hover {
    background-color: #2fb86e;
}

.itensgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.itensgrid li {
    background-color: #f5f5f5;
    list-style: none;

    border: 2px solid #f5f5f5;
    height: 120px;
    border-radius: 6px;
    padding: 32px 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}

.itensgrid li span {
    flex: 1;
    display: flex;
    align-items: center;
    color: var(--fontcolor);
    margin-top: 12px;
}

.itensgrid li.selected {
    background-color: #e1faec;
    border: 2px solid var(--pcolor);
}

.itensgrid li img,
.itensgrid li span {
    pointer-events: none;
}

main {
    margin-top: 48px;
}

main h4 {
    font-weight: normal;
    font-family: Roboto, sans-serif;

    margin-bottom: 32px;
}

main .card img {
    width: 100%;
    height: 150px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

main .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 20px;
}

main .card h1 {
    font-size: 36px;
    line-height: 41px;

    margin-top: 32px;
    margin-bottom: 24px;
}

main .card h3 {
    margin-bottom: 24px;
    color: var(--pcolor);
    font-size: 24px;
}

body::after {
    content: "";
    position: fixed;
    z-index: -1;
    background-color: white;
    top: 260px;
    left: 0;
    right: 0;
    bottom: 0;
}